.compagnie
{
    background-color: rgb(12, 129, 22);
    margin-top: 5px;
}

img
{
    float: left;
    width: 50px;
    margin: 20px;
}

.a
{
    font-size: 25px;

}

.b
{
    text-decoration: underline ;
}



.p1
{
    margin-left: 75%;
}





.tab2
{
    margin-left: 10px;
}

.bleu
{
    color: rgb(255, 0, 0);
}




.tab3
{
    margin-left: 10px;
    margin-top: 15px;
    text-align: center;
    border: 1px solid black;
}

.tab31
{
    background-color: rgb(12, 129, 22);
}

.total1
{
    width: 1000px;
    background-color: rgb(12, 129, 22);
}

span[contenteditable] 
{ 
    display: inline-block; 
}

.p2
{
    margin-left: 10px;
}

.tab4
{
    border-spacing: 5px;
}

.solde
{
    font-size: 25px;
    font-weight: bold;
}