body 
{
	color: red;
	text-align: center;


}

button
{
	border-radius: 10px;
	width: 200px;
	height: 50px;
	background: pink;
	color: red;
	margin-right: 5px;
	margin-bottom: 5px;

}

button:hover
{
	background: blue;
	color: black;
}