body{
    background-color: green;
    font-size: 20px;
    text-align: center;
   background-image: url(paris.jpg);
   background-size: 100%;
}

marquee{
    font-size: medium;
}

img{
    width: 50px;
}

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 25%;
    text-align: center;
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav{
    width: 60%;
    margin: 0 auto;
    background-color: red;
    position: sticky;
    top: 0px;
}

nav a{
    display: inline-block;
    padding: 1px 0px;
    color: black;
    border-bottom: 1px;
}

nav a:hover{
    color: black;
    border-bottom: 1px solid black;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px black;
    background-color: green;
    position: absolute;
    width: 100%;
    z-index: 10000;
}

nav > ul li:hover .sous{
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}

.sous a{
    padding: 10px;
    border-bottom: none;
}

.deroulant > a::after{
    
    font-size: 15px;
}

.sous a:hover{
    border-bottom: none;
    background-color: rgb(0, 255, 0);
    color:green;
}

nav ul li{
    float: left;
    width: 15%;
    text-align: center;
    position: relative;
}

.home{
    float: left;
    width: 10%;
    text-align: center;
    position: relative;
}