body
{
	background-color: ;
	text-align: center;
}

div
{
	height: 400px;
	width: 200px;
	border: 2px solid yellow;
	float: left;
	margin-right: 50px;


}
.c1
{
	background-color:green ;
	
}
.c2
{
	background-color: yellow;
	height: 60px;
	width: 400px;
}
.c3
{
	background-color: grey;
}
.c4
{
	
	height: 60px;
	width: 400px;
}
.c5
{
	
}
.c6
{
	height: 60px;
	width: 400px;
}
.c7
{
	

height: 60px;
width: 100%;
margin-top: 5%;
}