body
{
	background-color: gr*;

	text-align: center;
}

div
{
	height: 300px;
	width: 200px;
	border: 2px solid black;
	float: left;
	margin-right: 0px;

	;


}
.c1
{
	height: 300px;
	width: 200px;
	border: 2px solid black;
	float: left;
	margin-right: 50px;
	background-color: blue;
}
.c2
{
	height: 300px;
	width: 200px;
	border: 2px solid black;
	float: left;
	margin-right: 50px;
	
}
.c3
{
	height: 300px;
	width: 200px;
	border: 2px solid black;
	float: left;
	margin-right: 50px;
	background-color: yellow;
}
.c4
{
	height: 300px;
	width: 200px;
	border: 2px solid black;
	float: left;
	margin-right: 50px;

}
.c5
{

}
.c6
{
height: 300px;
	width: 200px;
	border: 2px solid black;
	float: left;
	margin-right: 50px;
	background-color: green;
	
}
.c7
{
	background-color: ;
	 width: 75%;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 100px;
    height: 70px;
    margin-top: 15px;
}